Flask==2.1.2
gunicorn==20.1.0
numpy==1.22.3
filesplit
boto3==1.9.235
botocore==1.12.253
pillow
pathlib
gc-python-utils

#opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66


# work for cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.10.0+cpu
torchvision==0.11.0+cpu

# for detectron2
#--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
#-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
#detectron2

